<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
 <%= link_to "Categories", categories_path %>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
<div class="min-vh-100">
<div class="d-flex container justify-content-end"><%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-" %></div>

  <div class="position-absolute start-50 top-50 translate-middle">
    <h1>PaySafe<h1>
  </div>
   <div class="position-absolute start-50 bottom-0 translate-middle"><%= link_to "Register", new_user_registration_path, class: "btn btn-secondary btn-block" %></div>
 
</div>
  
  
 
<% end %>
 

